@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap');

.loginPage {
    font-family: 'Roboto', sans-serif;
    overflow:hidden;
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width:90%;
  }

.login{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top:30%;
}

.above-field-text {
    font-weight:600;
    font-size:13px;
    justify-content: left;
    align-items: left;
}

.mb-3 {
    width:200px;
    height:50px;
}

.signup-button {
    width: 252px;
    height: 36px;
    color: white;
    font-size:16px;
    background: #F64697;
    border-radius: 3px;
    font-weight:700;
    margin-top:1.5vh;
    border:none;
}

.text-and-field{
    margin-top:1.5vh;
    justify-content: left;
    align-items:left;
}